{% extends "pages/base.html" %}
<!-- break -->
{% block title %}
<!-- Student -->
{% endblock title %}
<!-- break -->
{% block content %}
<!-- break -->
{% load static %}
<!-- break -->
<div class="container" style="height: 52em;">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Đổi mật khẩu</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="small mb-1" for="id_email">Nhập mật khẩu cũ</label>
                            <input class="form-control py-4" type="password" name="old_password"
                                autocomplete="current-password" autofocus="" required="" id="id_old_password"
                                aria-describedby="emailHelp" placeholder="Nhập mật khẩu cũ" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="id_email">Nhập mật khẩu mới</label>
                            <input class="form-control py-4" type="password" name="new_password1"
                                autocomplete="new-password" required="" id="id_new_password1"
                                aria-describedby="emailHelp" placeholder="Nhập mật khẩu mới" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="id_email">Nhập lại mật khẩu mới</label>
                            <input class="form-control py-4" type="password" name="new_password2"
                                autocomplete="new-password" required="" id="id_new_password2"
                                aria-describedby="emailHelp" placeholder="Nhập lại mật khẩu mới" />
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <input class="btn btn-primary" style="margin-right: auto; margin-left: auto;" type="submit"
                                value="Khôi phục mật khẩu">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- break -->
{% endblock content %}