{% extends "pages/base.html" %}
<!-- break code -->
{% block title %}Home{% endblock %}
<!-- break code -->
{% block content %}
<!-- break code -->
<div class="card-body">
    <div class="row">
        <div class="col-xl-4 col-md-12">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body" style="font-size: 2em; text-align: center;"><b>{{countstudent}}</b><br>
                    <label style="font-size: 24px;">Học viên đang theo học</label>
                </div>
                <a href="createstudent" class="btn btn-danger" style="font-size: 24px; color: white;">
                    Đăng ký học viên mới
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body" style="font-size: 2em; text-align: center;"><b>{{countteacher}}</b><br>
                    <label style="font-size: 24px;">Giảng viên đang giảng dạy</label>
                </div>
                <a href="listteacher/" class="btn btn-warning" style="font-size: 24px; color: white;">
                    Danh sách giảng viên
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card bg-success text-white mb-4">
                <div class="card-body" style="font-size: 2em; text-align: center;"><b>{{countclass}}</b><br>
                    <label style="font-size: 24px;">Lớp đang hoạt động</label>
                </div>
                <a href="listclass/" class="btn btn-success" style="font-size: 24px; color: white;">
                    Danh sách lớp
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <Div class="row">
                <div class="col-xl-9 col-md-12">
                    <div class="card-body" style="margin:0 auto; width: 100%;">
                        <div id="calendar" style=" width: 100%; height: 50%; margin: 0 20px 20px 0;">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-12">
                    
                    <!-- <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>Pie Chart Example</div>
                            <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                    </div> -->
                    
                    <div class="card bg-dark text-white mb-4">
                        <div class="card-body" style="font-size: 1.5em; width: auto;">Thông báo</div>
                    {% for i in notify %}
                    {% if i.active == 0 %}
                        <div class="card bg-secondary" style="padding: 5px; margin: 1px;" class="card-footer d-flex align-items-center justify-content-between">
                            {{i.content}}
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </Div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var initialLocaleCode = 'VI';
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            header: {
                //left: 'prevYear,prev,next,nextYear today',
                //center: 'title',
                //right: 'dayGridMonth'
                right: 'today prev,next',
            },
            //defaultDate: '{{ classrequest.startdate|date:"Y-m-d" }}',
            locale: initialLocaleCode,
            navLinks: true, // can click day/week names to navigate views
            //editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for i in schedule %} 
                {
                title: '{{ i.classname }}',
                start: '{{ i.daylearn|date:"Y-m-d" }}',
                end: '{{ i.daylearn|date:"Y-m-d" }}',
                {% if i.active == 1 %}
                color: '#69f0ae',
        {% else %}
        color: '#bdbdbd'
                {% endif %}
                },
        {% endfor %}
            ],
        });
    calendar.render();
    });
</script>
<!-- break code -->
{% endblock %}