<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>TẠO TÀI KHOẢN MỚI</title>
    <link rel="shortcut icon" href="/static/images/Logo-Dark-16x16.png" />
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
</head>

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">Tạo tài khoản tổng quản lý</h3>
                                </div>
                                <div class="card-body">
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="id_first_name">Họ và tên lót</label>
                                                    <input class="form-control py-4" id="id_first_name" name="first_name" maxlength="150"
                                                        required type="text" placeholder="Họ và tên lót" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="id_last_name">Tên </label>
                                                    <input class="form-control py-4" id="id_last_name" name="last_name" maxlength="150"
                                                        required type="text" placeholder="Tên đầy đủ" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_username">Tên đăng nhập</label>
                                            <input class="form-control py-4" id="id_username" name="username" required
                                                type="text" aria-describedby="emailHelp"
                                                placeholder="Nhập tên đăng nhập" />
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_email">Email</label>
                                            <input class="form-control py-4" id="id_email" name="email" type="email"
                                                aria-describedby="emailHelp" placeholder="Nhập Email" />
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="id_password1">Mật khẩu</label>
                                                    <input class="form-control py-4" id="id_password1" name="password1"
                                                        required type="password" placeholder="Nhập mật khẩu" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="small mb-1" for="password2">Xác nhận mật
                                                        khẩu</label>
                                                    <input class="form-control py-4" id="id_password2" name="password2"
                                                        required type="password" placeholder="Xác nhận mật khẩu" />
                                                </div>
                                            </div>
                                        </div>
                                        {% if messages %}
                                        <div>
                                            {% for mess in messages %}
                                            {% if mess.tags == 'success' %}
                                            <div class="alert alert-success" role="alert">
                                                {{mess}}
                                            </div>
                                            {% elif mess.tags == 'error' %}
                                            <div class="alert alert-danger" role="alert">
                                                {{mess}}
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <div class="form-group mt-4 mb-0">
                                            <input class="btn btn-primary btn-block" type="submit" name="createnewuser"
                                                id="createnewuser" value="Tạo tài khoản mới">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static '/js/jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static '/js/scripts.js' %}"></script>
    <script src="{% static '/js/moment-with-locales.js' %}"></script>
    <script src="{% static '/js/moment.js' %}"></script>
    <script src="{% static '/js/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static '/js/Chart.min.js' %}" crossorigin="anonymous"></script>
    <!-- <script src="{% static '/assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static '/assets/demo/chart-bar-demo.js' %}"></script> -->
    <script src="{% static '/js/jquery.dataTables.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static '/js/dataTables.bootstrap4.min.js' %}" crossorigin="anonymous"></script>
    <!-- <script src="{% static '/staticfiles/assets/demo/datatables-demo.js' %}"></script> -->
    <script src="{% static '/js/sweetalert.min.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="{% static '/js/scripts.js' %}"></script> -->
</body>

</html>