{% extends "pages/base.html" %} 
<!-- break -->
{% block title %}
<!-- Student -->
{% endblock title %} 
<!-- break -->
{% block content %} 
<!-- break -->
{% load static %} 
<!-- break -->
<main>
    <div class="container" style="height: 52em;">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <h1 class="display-1">SUCCESS!!!</h1>
                    <p class="lead">Lấy lại mật khẩu thành công</p>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- break -->
{% endblock content %}