{% extends "pages/base.html" %}
<!-- break -->
{% block title %}
<!-- Student -->
{% endblock title %}
<!-- break -->
{% block content %}
<!-- break -->
{% load static %}
<!-- break -->
<div class="container" style="height: 52em;">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Ca học</h3>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-xl-4 col-md-12">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <!-- {{form}} -->
                                <div class="row">
                                    <div class="col-xl-12 col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_fullname">Ca học</label>
                                            <input class="form-control" type="text" name="fullname" maxlength="100"
                                                required id="id_fullname" placeholder="Nhập tên ca học"/>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_infomation">Thông tin chi tiết</label>
                                            <textarea class="form-control" name="infomation" maxlength="1000"
                                                id="id_infomation" rows="2" placeholder="Nội dung"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_timestart">Thời gian bắt đầu</label>
                                            <input class="form-control" type="time" name="timestart"
                                                id="id_timestart" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_timeend">Thời gian kết thúc</label>
                                            <input class="form-control" type="time" name="timeend" id="id_timeend" />
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-12">
                                        <label class="small mb-1" for="id_active">Trạng thái</label>
                                        <div class="form-group">
                                            <input type="checkbox" name="active" id="id_active" checked
                                                data-toggle="toggle" data-on="Hiễn thị" data-off="Ẩn"
                                                data-onstyle="success" data-offstyle="danger" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <input class="btn btn-primary" type="submit" value="Tạo"
                                        style="margin-left: auto; margin-right: auto;">
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-8 col-md-12">
                            <div class="col-xl-12 col-md-12">
                                <table id="example" class="table" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="width: 20%;">Tên</th>
                                            <th style="width: 30%;">Thông tin</th>
                                            <th style="width: 20%;">Bắt đầu</th>
                                            <th style="width: 20%;">Kết thúc</th>
                                            <th style="width: 10%;">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in timeshift %}
                                        <tr>
                                            <td>
                                            {% if i.active %}
                                                <a class="btn btn-success" style="width: 100%;" href="/edittimeshift/{{i.pk}}">{{i.fullname}}</a>
                                            {% else %}
                                                <a class="btn btn-danger" style="width: 100%;" href="/edittimeshift/{{i.pk}}">{{i.fullname}}</a>
                                            {% endif %}
                                            </td>
                                            <td>{{i.infomation}}</td>
                                            <td>{{i.timestart|date:"H:i"}}</td>
                                            <td>{{i.timeend|date:"H:i"}}</td>
                                            <td style="text-align: center;">
                                            {% if i.active %}
                                                <i style="color: green;" class="fas fa-check-circle"></i>
                                            {% else %}
                                                <i style="color: red;" class="fas fa-times-circle"></i>
                                            {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- break -->
{% endblock content %}