{% extends "pages/base.html" %}
{% block title %}
<!-- Student -->
{% endblock title %}
{% block content %}
{% load static %}
<div class="container" style="height: 52em;">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Chỉnh sửa thông tin cá nhân</h3>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label class="small mb-1" for="">Họ và tên lót</label>
                                <div class="form-group">
                                    <input class="form-control" maxlength="100" name="first_name" id="id_first_name"
                                        type="text" placeholder="Không có họ và tên lót"
                                        value="{{ detailuser.first_name }}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="">Tên chủ tài khoản</label>
                                <div class="form-group">
                                    <input class="form-control" maxlength="100" name="last_name" id="id_last_name"
                                        type="text" placeholder="Không có tên" value="{{ detailuser.last_name }}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="">Tên tài khoản</label>
                                <div class="form-group">
                                    <input class="form-control" disabled maxlength="100" type="text"
                                        placeholder="{{ detailuser.username }}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="">Email</label>
                                <div class="form-group">
                                    <input class="form-control" disabled maxlength="100"
                                        placeholder="{{ detailuser.email }}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <input type="submit" value="Lưu thông tin" class="btn btn-success"
                                style="margin-left: auto; margin-right: auto;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}