{% extends "pages/base.html" %}
{% block title %}
{% endblock title %} 

{% block content %} 
{% load static %} 
<div class="card-header">
    <h2 class="text-center font-weight-light">Danh sách tài khoản</h2>
</div>
<div class="card-body">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="width: 10%;">Tên nhân viên</th>
                <th style="width: 20%;">Họ và tên lót</th>
                <th style="width: 10%;">Tên tài khoản</th>
                <th style="width: 25%;">Email</th>
                <th style="width: 15%;">Ngày tạo</th>
                <th style="width: 15%;">Loại tài khoản</th>
                {% if request.user.is_superuser %}
                <th style="width: 5%;">Chỉnh sửa</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for i in listuser %}
            {% if i.username != 'admin' %}
            <tr>
                <td>{{i.last_name}}</td>
                <td>{{i.first_name}}</td>
                <td>{{i.username}}</td>
                <td>{{i.email}}</td>
                <td>{{i.date_joined|date:"d-m-Y H:m"}}</td>
                <td>
                    {% for item in USERGROUP %}
                    {% if item.iduser == i.pk %}
                    {% if item.groupuser == 'admin' %}
                        Super Admin
                    {% elif item.groupuser == 'manager' %}
                        Quản lý
                    {% elif item.groupuser == 'staff' %}
                        Nhân viên
                    {% elif item.groupuser == 'teacher' %}
                        Giảng viên
                    {% else %}
                        Học viên
                    {% endif %}
                    {% comment %} {{item.groupuser}} {% endcomment %}
                    {% endif %}
                    {% endfor %}
                    {% comment %} {% if i.is_superuser %}
                    Tổng quản lý
                    {% elif i.is_staff %}
                    Quản lý
                    {% else %}
                    Nhân viên
                    {% endif %} {% endcomment %}
                </td>
                {% if request.user.is_superuser %}
                <td><a class="btn btn-warning" style="width: 100%;" href="/updateuser/{{ i.pk }}"><i class="fas fa-edit"></i></a></td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}