{% extends "pages/base.html" %}
<!-- break -->
{% block title %}
<!-- Student -->
{% endblock title %}
<!-- break -->
{% block content %}
<!-- break -->
{% load static %}
<!-- break -->
<div class="card-header">
    <h2 class="text-center font-weight-light">Danh sách học viên lớp {{classname.fullname}}</h2>
</div>
<div class="card-body">
    <div class="form-row">
        <div class="col-xl-8 col-md-12">
            <div class="card-body">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 20%;">Họ và tên</th>
                            <th style="width: 10%;">Số điện thoại</th>
                            <th style="width: 10%;">SDT phụ huynh</th>
                            <th style="width: 23%;">Địa chỉ</th>
                            <th style="width: 15%;">Thời gian đăng ký</th>
                            <th style="width: 13%;">Ghi chú</th>
                            <th>Active</th>
                            <th>TKB</th>
                            <!-- <th style="width: 10%;">Điểm danh</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in liststudentinclass %}
                        {% if pk == i.classname_id %}
                        <tr>
                            <td>
                                {% if i.havedetailschedule %}
                                <a href="/student/{{ i.pk }}" style="width: 100%; color: white;"
                                    class="btn btn-success"><i class="fas fa-calendar-check" style="color: white;"></i>
                                    {{ i.fullname }}</a>
                                {% else %}
                                <a onclick="warningcreateschedule()" style="width: 100%; color: white;"
                                    class="btn btn-danger"><i class="fas fa-calendar-times" style="color: white;"></i>
                                    {{ i.fullname }}</a>
                                {%endif%}
                            </td>
                            <td>{{ i.phonenumber }}</td>
                            <td>{{ i.phonenumber_family }}</td>
                            <td>{{ i.adress }}</td>
                            <td>{{ i.create_date|date:"d-m-Y" }}</td>
                            <td>{{ i.note }}</td>
                            <td style="text-align: center;">
                                {% if i.active %}
                                <i style="color: green; " class="fas fa-check-circle"></i> {%endif%}
                            </td>
                            <td>
                                {% if i.havedetailschedule == 0 %}
                                <a href="/checkinstudent/{{ i.pk }}" style="width: 100%; color: white;"
                                    class="btn btn-warning"><i class="fas fa-calendar-check"
                                        style="color: white;"></i></a>
                                {%endif%}

                            </td>
                            <!-- <td>
                                {% if i.active %}
                                <input type="checkbox" id="id_active" name="active" checked data-toggle="toggle"
                                    value="1" data-on="Học" data-off="Nghỉ" data-onstyle="success"
                                    data-offstyle="danger"> {% else %}
                                <input type="checkbox" id="id_active" name="active" data-toggle="toggle" value="0"
                                    data-on="Học" data-off="Nghỉ" data-onstyle="success" data-offstyle="danger">
                                {% endif %}
                            </td> -->
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card-body" style="margin:0 auto; width: 100%;">
                <div id="calendar" style=" width: 100%; margin: 0 20px 20px 0;">
                </div>
                <div class="form-row">
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">Phòng:</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">{{ classname.room }}</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">Lịch học:</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">{{ classname.timeweek }}</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">Ca học:</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">{{ classname.timeshift }}</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">Khóa học:</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">{{ classname.unit }}</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">Bắt đầu:</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">{{ timeshift.timestart|time:"H:i" }}</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">Kết thúc:</h5>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <h5 style="color: grey;">{{ timeshift.timeend|time:"H:i" }}</h5>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <a class="btn btn-success" style="width: 100%;"
                            href="/checkinclassstudent/{{classname.pk}}">Điểm danh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function warningcreateschedule() {
        swal("Cảnh báo!!!", "Phải tạo thời khóa biểu cá nhân cho học viên trước", "warning", {
            buttons: false,
            timer: 2500,
        });
    }
    document.addEventListener('DOMContentLoaded', function () {
        var initialLocaleCode = 'VI';
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            header: {
                //left: 'prevYear,prev,next,nextYear today',
                //center: 'title',
                //right: 'dayGridMonth'
                right: 'today prev,next',
            },
            defaultDate: '{{ classname.startdate|date:"Y-m-d" }}',
            locale: initialLocaleCode,
            navLinks: true, // can click day/week names to navigate views
            //editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for i in schedule %} 
                {% if classname.pk == i.id_classname %}
                {
            title: '{{ i.dayname }}',
            start: '{{ i.daylearn|date:"Y-m-d" }}',
            end: '{{ i.daylearn|date:"Y-m-d" }}',
                {% if i.active == 1 %}
                color: '#28a745',
                {% else %}
                color: '#bdbdbd'
                {% endif %}
                            },
                {% endif %}
                {% endfor %}
            ],
        });
    calendar.render();
    });
</script>
<!-- break -->
{% endblock content %}