{% extends "pages/base.html" %}
<!-- break code -->
{% block title %}
<!-- break code -->
Danh sách lớp học
<!-- break code -->
{% endblock title %}
<!-- break code -->
{% block content %}
<!-- break code -->
{% load static %}
<div class="card-header">
    <h2 class="text-center font-weight-light">Danh sách lớp</h2>
</div>
<div class="card-body">
    <div class="col-md-12 row">
        <div style="margin-left: auto; padding-bottom: 1em;">
            <div>
                <button name="print" onclick="printfail()" style="width: 8em;" type="button" class="btn btn-primary"><i
                        class="fas fa-print"></i> In</button>
                <button name="exportExcel" style="width: 8em;" type="button" class="btn btn-success"><i
                        class="fas fa-file-excel"></i> Xuất Excel</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 10%;">Tên lớp</th>
                    <th style="width: 5%;">Sĩ số</th>
                    <th style="width: 10%;">Thời gian bắt đầu</th>
                    <th style="width: 5%;">Đã học</th>
                    <th style="width: 5%;">Ca học</th>
                    <th style="width: 5%;">Tuần học</th>
                    <th style="width: 15%;">Giảng viên</th>
                    <th style="width: 10%;">Khóa học</th>
                    <th style="width: 15%;">Ghi chú</th>
                    <th style="width: 5%;">Active</th>
                    <th style="width: 5%;"><i class="fas fa-edit"></i></a></th>
                </tr>
            </thead>
            <tbody>
                {% for i in listclass %}
                <tr>
                    <td>
                        <!-- <a href="/class/{{ i.pk }}">{{ i.fullname}}</a> -->
                        <a class="btn btn-dark" style="color: white; width: 100%;"
                            href="/classstudent/{{ i.pk }}">{{ i.fullname}}</a>
                    </td>
                    <td style="text-align: center;">
                        {% for itema in SLa %}
                        {% if itema.idclass == i.pk %}
                        {{itema.number}}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ i.startdate|date:"d-m-Y"}}</td>
                    <td style="text-align: center;">
                        {% for itemb in SLb %}
                        {% if itemb.id == i.id %}
                        {{itemb.number}}
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ i.timeshift}}</td>
                    <td>{{ i.timeweek}}</td>
                    <td>{{ i.teacher}}</td>
                    <td>{{ i.unit}}</td>
                    <td>{{ i.note}}</td>
                    <td style="text-align: center;">
                        {% if i.active %}
                        <i style="color: green; " class="fas fa-check-circle"></i>
                        <!-- break code -->
                        {%endif%}
                    </td>
                    <td style="text-align: center;">
                        {% if i.active %}
                        <a class="btn btn-danger" onclick="warningedit()"><i class="fas fa-edit"
                                style="color: white;"></i></a>
                        <!-- break code -->
                        {% else %}
                        <a class="btn btn-primary" href="/class/{{ i.pk }}"><i class="fas fa-edit"></i></a>
                        {% endif %}
                    </td>
                    <!-- <td><i style="color: green;" class="fas fa-check-circle"></i></td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>

    function printfail() {
        setTimeout(function () {
            swal("Lỗi kết nối máy in", "Không có máy in kết nối", "error", {
                buttons: false,
                timer: 1500,
            });
        }, 3000);

    }
    function warningedit() {
        swal("Lỗi", "Lớp này đang trong quá trình học. Không được thay đổi thông tin của lớp", "error", {
            buttons: false,
            timer: 1500,
        });
    }
</script>
<!-- break code -->
{% endblock content %}