{% extends "pages/base.html" %} {% block title %} Đăng kí học {% endblock title %} {% block content %} {% load static %}
<div class="card-header">
    <h2 class="text-center font-weight-light">Thay đổi thông tin học viên</h2>
</div>
<div class="card-body">
    <form method='POST' action="" id="qrcodeRedirectForm"  name="qrcodeRedirectForm">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-4">
                <label class="small mb-1" for="inputName">Họ và tên</label>
                <div class="form-group">
                    <input class="form-control" disabled id="inputName" type="text" placeholder="Nhập họ và tên"
                        value="{{ student.fullname }}" />
                </div>
            </div>
            <!-- ông thử link cách GET value của selectbox trong video này thử -->
            <!-- https://www.youtube.com/watch?v=Iiat5mc1Yz8 -->
            <div class="col-md-4">
                <label class="small mb-1" for="inputGender">Giới tính</label>
                <div class="form-group">
                    <input class="form-control" disabled id="inputGender" type="text" value="{{ student.gender }}" />
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputBirthDay">Ngày sinh</label>
                <div class="form-group">
                    <input class="form-control" disabled id="inputBirthDay" type="date"
                        value="{{ student.birthday|date:"Y-m-d" }}" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label class="small mb-1" for="inputEmail">Email</label>
                <div class="form-group">
                    <input class="form-control" name="email" required id="id_email" type="email"
                        value="{{ student.email }}" />
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputIdentityCard">CMND/Thẻ căn cước</label>
                <div class="form-group">
                    <input class="form-control" disabled id="inputIdentityCard" type="text"
                        placeholder="Nhập CMND học viên" value="{{ student.identity_card }}" />
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="id_phonenumber">Số điện thoại</label>
                <div class="form-group">
                    <input class="form-control" name="phonenumber" required id="id_phonenumber" type="text"
                        placeholder="Nhập số điện thoại của học viên" value="{{ student.phonenumber }}" /></div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8">
                <label class="small mb-1" for="id_adress">Địa chỉ</label>
                <div class="form-group">
                    <input class="form-control" name="adress" required id="id_adress" type="text"
                        placeholder="Nhập địa chỉ của học viên " value="{{ student.adress }}" />
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="id_phonenumber_family">Số điện thoại phụ huynh</label>
                <div class="form-group">
                    <input class="form-control" name="phonenumber_family" required id="id_phonenumber_family"
                        type="text" placeholder="Nhập số điện thoại phụ huynh"
                        value="{{ student.phonenumber_family }}" /></div>
            </div>
        </div>
        <div class="form-row">
            <!-- đây là listBox lấy dữ liệu từ dưới cơ sở dữ liệu bảng UNIT -->
            <div class="col-md-4">
                <label class="small mb-1" for="inputFirstName">Khóa học</label>
                <div class="form-group">
                    <select onchange="changeUnitClassname(this.value)" class="form-control" id="id_unit">
                        {% for i in classname %}
                        {% if i.pk == student.classname_id%}
                        <option value="{{i.unit_id}}" hidden>{{i.unit}}</option>
                        {% endif %}
                        {% endfor %}
                        {% for i in unit %}
                        {% if i.active %}
                        <option value="{{i.pk}}">{{i.fullname}}</option>
                        {% endif %}
                        {% endfor %}
                        <!-- <option value="1">AEngTu</option> -->
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputClass">Lớp</label>
                <div class="form-group">
                    <select onchange="changeclassname()" class="form-control" id="id_classname" name="classname">
                        <option value="{{ student.classname_id }}" hidden>{{ student.classname }}</option>
                        {% for i in classname %}
                        {% if i.active == 0 %}
                        <option value="{{i.pk}}" data-option="{{i.unit_id}}">{{i.fullname}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputTeacherName">Giảng viên</label>
                <div class="form-group">
                    <select disabled class="form-control" id="id_teacher" required>
                        {% for i in classname %}
                        {% if i.pk == student.classname_id%}
                        <option value="{{i.pk}}" hidden>{{i.teacher}}</option>
                        {% endif %}
                        {% endfor %}
                        {% for i in classname %}
                        {% if i.active == 0 %}
                        <option value="{{i.pk}}" hidden>{{i.teacher}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <script>
                function changeclassname() {
                    var x = document.getElementById("id_classname").value;
                    document.getElementById("id_teacher").value = x;
                }
                var id_unit = document.querySelector('#id_unit');
                var id_classname = document.querySelector('#id_classname');
                var options_unit_classname = id_classname.querySelectorAll('option');

                function changeUnitClassname(selValue) {
                    id_classname.innerHTML = '';
                    for (var i = 0; i < options_unit_classname.length; i++) {
                        if (options_unit_classname[i].dataset.option === selValue) {
                            id_classname.appendChild(options_unit_classname[i]);
                        }
                    }
                    var x = document.getElementById("id_classname").value;
                    document.getElementById("id_teacher").value = x;
                }
                changeUnitClassname(id_unit.value);
            </script>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <label class="small mb-1" for="inputFee">Số tiền nộp</label>
                <div class="form-group input-group mb-3">
                    <input class="form-control" required id="id_fee" name="fee" type="text"
                        placeholder="Đã đóng được {{ student.fee }} VND" />
                    <div class="input-group-prepend">
                        <span class="input-group-text">VND</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="small mb-1" for="inputFee">Số tiền phải đóng</label>
                <div class="form-group input-group mb-3">
                    
                    <select class="form-control" disabled id="id_feeremain" required>
                        {% for i in unit %}
                        {% if i.active %}
                        <option value="{{i.pk}}" hidden>{{i.fee}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text">VND</span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <label class="small mb-1" for="inputNote">Ghi chú</label>
                <div class="form-group">
                    <input class="form-control" name="note" id="id_note" type="text" placeholder="Ghi chú"
                        value="{{ student.note }}" />
                </div>
            </div>
            <script>
            </script>
            <div class="col-md-1">
                <label class="small mb-1" for="inputActive">Trạng thái</label>
                <div class="form-group">
                    <!-- <input class="form-control" required id="inputNote" type="checkbox" placeholder="Ghi chú" /> -->
                    {% if student.active %}
                    <input type="checkbox" id="id_active" name="active" disabled checked data-toggle="toggle" value="1"
                        data-on="Học" data-off="Nghỉ" data-onstyle="success" data-offstyle="danger"> {% else %}
                    <input type="checkbox" id="id_active" name="active" data-toggle="toggle" value="0" data-on="Học"
                        data-off="Nghỉ" data-onstyle="success" data-offstyle="danger"> {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            <!-- <a class="btn btn-primary btn-block" href="login.html">Tạo tài khoản mới</a> -->
            {% if student.havedetailschedule == 0 %}
            <a onclick="submita()" id="id_button" class="btn btn-success"
                style="margin-left: auto; margin-right: auto; color: white;"><i class="fas fa-save"></i> Lưu</a>
            {% else %}
            <label class="btn btn-danger" onclick="alertnochange()" disabled
                style="margin-left: auto; margin-right: auto;">
                Không được thay đổi
            </label>
            {% endif %}
        </div>
    </form>
</div>

<script>
    function alertnochange() {
        swal("Lỗi", "Học viên này đã có thời khóa biểu cá nhân", "error", {
            buttons: false,
            timer: 1500,
        });
    }
    function submita() {
        swal("Great!!!", "Lưu thành công", "success", {
            buttons: false,
            timer: 1500,
        });
        setTimeout(function () {
            document.qrcodeRedirectForm.submit();
        }, 1500);
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static '/js/sweetalert.min.js' %}"></script>
<script src="{% static '/js/moment.min.js' %}"></script>
<script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
{% endblock content %}